In [8]:
import pandas as pd

ifood = pd.read_csv("./ifood.csv")
print(ifood.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB
None

## Data Cleaning

### Constant Columns

In [9]:
ifood = ifood.drop(["Z_CostContact", "Z_Revenue"], axis=1)

### Duplicates

In [10]:
ifood = ifood.drop("ID", axis=1).drop_duplicates()
print(ifood)

      Year_Birth   Education Marital_Status    Income  Kidhome  Teenhome  \
0           1957  Graduation         Single   58138.0        0         0
1           1954  Graduation         Single   46344.0        1         1
2           1965  Graduation       Together   71613.0        0         0
3           1984  Graduation       Together   26646.0        1         0
4           1981         PhD        Married   58293.0        1         0
...          ...         ...            ...       ...      ...       ...
2233        1977  Graduation       Together  666666.0        1         0
2235        1967  Graduation        Married   61223.0        0         1
2237        1981  Graduation       Divorced   56981.0        0         0
2238        1956      Master       Together   69245.0        0         1
2239        1954         PhD        Married   52869.0        1         1

     Dt_Customer  Recency  MntWines  MntFruits  ...  NumCatalogPurchases  \
0     2012-09-04       58       635         88  ...                   10
1     2014-03-08       38        11          1  ...                    1
2     2013-08-21       26       426         49  ...                    2
3     2014-02-10       26        11          4  ...                    0
4     2014-01-19       94       173         43  ...                    3
...          ...      ...       ...        ...  ...                  ...
2233  2013-06-02       23         9         14  ...                    1
2235  2013-06-13       46       709         43  ...                    3
2237  2014-01-25       91       908         48  ...                    3
2238  2014-01-24        8       428         30  ...                    5
2239  2012-10-15       40        84          3  ...                    1

      NumStorePurchases  NumWebVisitsMonth  AcceptedCmp3  AcceptedCmp4  \
0                     4                  7             0             0
1                     2                  5             0             0
2                    10                  4             0             0
3                     4                  6             0             0
4                     6                  5             0             0
...                 ...                ...           ...           ...
2233                  3                  6             0             0
2235                  4                  5             0             0
2237                 13                  6             0             1
2238                 10                  3             0             0
2239                  4                  7             0             0

      AcceptedCmp5  AcceptedCmp1  AcceptedCmp2  Complain  Response
0                0             0             0         0         1
1                0             0             0         0         0
2                0             0             0         0         0
3                0             0             0         0         0
4                0             0             0         0         0
...            ...           ...           ...       ...       ...
2233             0             0             0         0         0
2235             0             0             0         0         0
2237             0             0             0         0         0
2238             0             0             0         0         0
2239             0             0             0         0         1

[2058 rows x 26 columns]

### Missing Values

In [ ]:
# Remove missing values; there are only 24 of them